* {
	box-sizing: border-box;
}

.clearfix::after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both; 
}

body {
	font-family: 'Open Sans', sans-serif;
	width: 1120px;
	margin-right: auto;
	margin-left: auto;
}

a:hover {
	color: red;
	background-color: yellow;
}
header	{
	background-color: #033048;
	padding: 30px 80px;
}

header h1 {
	float: left;
	font-weight: 800;
	font-size: 40px;
	color: white;
}

nav a {
	text-decoration: none;
	color: #f9e42e;
	font-weight: 600;
	font-size: 24px;
}

nav li {
	float: right;
	display: inline;
	background-color: #033048;
	padding: 8px 20px;
}

main {
	background-color: #f0efef;
	color: #606161;
	padding-right: 80px;
	padding-left: 80px;
}

.maincolumn {
	float: left;
	width: 700px;
	margin-right: 20px;
	margin-bottom: 40px;
}

.main1 {
	border-bottom: solid 1px #606161;
	padding-bottom: 20px;
}

.main1 h2 {
	font-size: 40px;
	font-weight: 600;
	padding-top: 50px;
	padding-bottom: 20px;
}

.main1 img {
	width: 100%;
	height: auto;
	padding-bottom: 20px;
}

.main1 p {
	font-weight: lighter;
	padding-bottom: 40px;
	text-align: justify;
}

.main1 a {
	
}

.main1 p:first-letter {
	font-size: 40px;
	font-weight: bolder;
	float: left;
}

.main1 a {
	display: block;
	text-align: right;
	padding-bottom: 20px;
	text-decoration: none;
	font-size: 24px;
	font-weight: 600;
}

.sidebar {
	float: left;
	width: 240px;
}

.sidebar h2 {
	font-size: 32px;
	font-weight: 800;
	padding-top: 40px;
	padding-bottom: 20px;
}

.category_links li {
	font-weight: 300;
	font-size: 24px;
	padding-left: 5px;
	padding-top: 5px;
}

.category_links ul {
	list-style: none;
}

.about p {
	font-size: 22px;
	font-weight: 300;
}

.about a {
	font-size: 22px;
	font-weight: 600;
}

.adunit	{
	margin-top: 40px;
}

.category_links a {
	text-decoration: none;
	color: #606161;
}

.signup_container {
	height: 60px;
	background-color: #f9e42e;
}

.signup_container button {
	border-radius: 5px;
	height: 30px;
	width: 150px;
	margin-right: auto;
	margin-top: 15px;
	margin-left: auto;
	background-color: #033048;
	font-weight: 800;
	font-size: 12px;
	color: white;
	text-align: center;
	border: none;
}

.button {
	text-align: center;
}

footer {
	height: 200px;
	background-color: #121212;
	padding-bottom: 20px;
}

footer h1{
	padding-top: 30px;
	color: #f9e42e;
	font-size: 24px;
	font-weight: 800;
	text-align: center;
	margin-bottom: 20px;
}

.icon {
	text-align: center;
}

.icon:first-child {
	margin-right: 20px;
}

.icon li {
	display: inline-block;
	margin-top: 30px;
	height: 40px;
	width: 40px;
}

.icon img {
	height: 50%;
}

.copy {
	font-weight: 600;
	font-size: 9px;
	text-align: center;
	margin-top: 25px;
	margin-bottom: 5px;
	color: white;
}