* {
	box-sizing: border-box;
}

.clearfix::after { 
	content: "."; 
	visibility: hidden; 
	display: block; 
	height: 0; 
	clear: both; 
}

body {
	font-family: 'Open Sans', sans-serif;
	width: 940px;
}

#container	{
	background-color: white;
}

header	{
	background-color: #033048;
	padding: 20px;
}

header h1 {
	float: left;
	font-weight: 800;
	font-size: 40px;
	color: white;
}

nav a {
	text-decoration: none;
	color: #f9e42e;
	font-weight: 600;
	font-size: 24px;
}

nav li {
	float: right;
	display: inline;
	background-color: #033048;
	padding: 8px 20px;
}

main {
	background-color: #f0efef;
	color: #606161;
}

.col1 {
	float: left;
	width: 700px;
}

.main1 {
	border-bottom: solid 1px #606161;
}

.main1 h2 {
	font-size: 40px;
	font-weight: 600;
	padding-top: 40px;
	padding-bottom: 20px;
}

.main1 img {
	width: 100%;
	height: auto;
	padding-bottom: 20px;
}
.main1 p {
	font-weight: lighter;
	font-size: 24px;
	padding-bottom: 40px;
}

.main1 p:first-letter {
	font-size: 40px;
	font-weight: bolder;
}

.main1 a {
	display: inline;
	padding-bottom: 20px;
	text-decoration: none;
	font-size: 24px;
	font-weight: 600;
}

.sidebar {
	float: left;
	width: 240px;
}

.sidebar h2 {
	font-size: 32px;
	font-weight: 800;
}

.category_links {
}

.about	{
}

.adunit	{
}

.category_links a {
	text-decoration: none;
	color: #606161;
}

.signup_container {
	height: 60px;
	background-color: #f9e42e;
}

.signup_container button {
	border-radius: 5px;
	height: 30px;
	width: 150px;
	margin-right: auto;
	margin-top: 15px;
	margin-left: auto;
	background-color: #033048;
	font-weight: 800;
	font-size: 12px;
	color: white;
	text-align: center;
	border: none;
}

footer {
	height: 150px;
	background-color: #121212;
}

footer h1{
	padding-top: 20px;
	color: #f9e42e;
	font-size: 24px;
	font-weight: 800;
	text-align: center;
}

.icon {
	margin-left: 270px; 
}

.icon li {
	display: inline-block;
	margin-top: 30px;
	margin-left: 0px;
	height: 40px;
	width: 40px;
}

.icon img {
	height: 50%;
}

.copy {
	font-weight: 600;
	font-size: 9px;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 5px;
	color: white;
}